<h1>{{wine.title}}</h1>
<h3> {{name}}</h3>
<h3> {{varietal}}</h3>
<h3> {{location}}</h3>
<h3> {{price}}</h3>
<h3> {{rating}}</h3>
<h3> {{category.category_name}}</h3>

{{>review_form}}

{{#each reviews as |review|}}
{{>review_card}}
{{/each}}


<script src="/js/review"></script>