<div class="container">
  <div class="row homepage-main">
<h2>{{title}}</h2>
<h3>Wine varietal:{{varietal}}</h3>
<h3>Wine location: {{location}}</h3>
<h3>price: ${{price}}</h3>
<h3>rating: {{rating}}</h3>
<h3>category: {{category.category_name}}</h3>

{{>review_form}}
{{#each reviews as |review|}}
{{>review_card}}
{{/each}}
  </div>
</div>

<script src="/js/review.js"></script>
<script src="/js/logout.js"></script>