
{{#each sortedWines as |wine|}}
<div class="wine">
 <h2>{{this.name}}</h2>
 <img src="{{this.imageUrl}}" alt="{{this.name}}">
 <p>{{this.varietal}}</p>
 <p>{{this.alcohol_volume}}</p>
 <p>{{this.notes}}</p>
</div>
{{/each}}
