
{{#each sortedWines as |wine|}}
<div class="wine">
 <h2>{{this.name}}</h2>
 <p>${{this.price}}</p>
<img src="{{this.image}}" alt="{{this.name}}">
<p>Rating:{{this.rating}}/100</p>
 <p>Varietal: {{this.varietal}}</p>
 <p>Alcohol Percent{{this.alcohol_percent}}</p>
 <p>Bottle Size: {{this.alcohol_volume}}</p>
 <p>Tasting notes: {{this.notes}}</p>
 <p>Category: {{this.category}}</p>
</div>
{{/each}}

<script src="./js/logout.js"></script>