
{{#each sortedWines as |wine|}}
<div class="wine">
 <h2>{{this.name}}</h2>
 <p>{{this.price}}</p>
<img src="{{this.image}}" alt="{{this.name}}">
 <p>{{this.varietal}}</p>
 <p>{{this.alcohol_volume}}</p>
 <p>{{this.notes}}</p>
 <p>Category: {{this.category}}</p>
</div>
{{/each}}
